[@ui.bambooSection title='Where should Bamboo look for the code coverage output file?' ]
    [@ww.checkbox label='Code coverage output will be produced' name='custom.coverage.enabled' toggle='true' description="Code coverage is a tool that helps ensure that your code base is well tested." /]

    [@ui.bambooSection dependsOn='custom.coverage.enabled' showOn='true']
        [@ww.select label='Code Coverage Provider' name='custom.coverage.provider' list="{'', 'clover', 'cobertura', 'emma'}"
            description="For more information about these code coverage tools visit: <a href='http://www.cenqua.com/clover/' target='_blank'>Cenqua Clover</a>, <a href='http://cobertura.sourceforge.net/' target='_blank'>Cobertura</a>, <a href='http://emma.sourceforge.net' target='_blank'>EMMA</a>"/]

        [@ww.select label='Code Coverage Scope' name='custom.coverage.scope' list="{'class', 'package', 'project'}"
            description="The level of detail at which this plugin collects and stores code coverage data. For example, selecting
            project scope will collect only top level summary data, while selecting class scope will collect coverage statistics that are broken down by
            class, in addition to project and package statistics. Selecting the collection scope is a trade-off between the
            level of detail collected and the resources required to collect and store the statistics. For large projects, it
            may be necessary to lower the level of detail to package or project."/]

        [@ww.textfield name='custom.coverage.path' label='Code Coverage Output Directory'
            description='This is where Bamboo will look for the XML report output file generated by the code coverage tool.
                         The code coverage report generation must run as part of your build and must be configured to create an XML output file.' /]
    [/@ui.bambooSection]

[/@ui.bambooSection ]